/*Import Principio*/

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat:ital,wght@1,100&family=Nabla&display=swap');

/*Import Final*/

/*Cuerpo Principio*/

body{
    background-color: gray;
    background-blend-mode:multiply;
    background-image: url(img/UNLEdificio.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    background-color: #BFBFBF;
    float:left;
    border-radius: 15px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*Cuerpo Final*/

/*Elementos Principio*/

button{
    width: 100%;
    border-radius: 5px;
    color: black;
    border-color: #608BA6;
    background-color: #BFBFBF;
}


a{
    outline: none;
    text-decoration: none;
}

a:visited{
    color: black;
}

a:link{
    color: black;
}

/*Elementos Final*/

/*Header Principio*/


/*Header Final*/

/*Aside Principio*/

#Letra{
    margin-left: 30px;
    font-style: oblique;
    font-size: 22px;
    font-stretch: ultra-condensed;
    color: black;
}

#Fuentes{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ; 
}

/*Aside Final*/

/*Main Principio*/

.Box{
    float: left;
    margin-left: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 3px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    border-width: 5px;
    display: flex;
}

.SizeBox1 {
    width: 160px; 
    height: 160px;
    object-fit: cover;
    border-style: groove;
    border-color: #A08A9C;
    border-width: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;  
}

.BoxEnviar{
    width: 80%;
    max-width: 200px;
    border-color: black;
    background-color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BoxLupa{
    width: 80%;
    max-width: 100px;
    border-color: black;
    background-color: white;
}

  /* Estilos adicionales para centrar los controles */
        .controls-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 10px 0;
            clear: both;
        }
        
        .radio-group {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 15px;
            margin-bottom: 10px;
        }
        
        .radio-group label {
            display: flex;
            align-items: center;
            gap: 5px;
            cursor: pointer;
        }
        
        .button-group {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 15px;
        }
        
        /* Ajustes para mantener la estructura responsive */

/*Main Final*/


.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 900px;
    border-radius: 15px;
    border-color: crimson;
    border-style: dashed;
}



/*Lupa*/
/*
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1200px;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
*/
