/*Import Principio*/

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat:ital,wght@1,100&family=Nabla&display=swap');

/*Import Final*/

/*Cuerpo Principio*/

body{
    background-image: url(img/UNLEdificio.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header{
    background-color: #354954;
    width:100%;
    height: 100px;

    position: relative;

    bottom: 10px;
    border-radius: 0px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

main{
    background-color: #D7C0D3;
    float:left;
    border-radius: 25px;
}

aside{
    background-color: #A08A9C;
    width:20%;
    height: 790px;
    border-style: dotted;
    border-width: 3px;
    border-radius: 30px;
    border-color: #D7C0D3;
    margin-right: 10px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    background-color: #82B2CA;
    position: relative;
    float: none;
    right: 10px;
    width: 100.95%;
    height: 100px;
    text-align: left;
}

/*Cuerpo Final*/

/*Elementos Principio*/

button{
   
    width: 100%;
    border-radius: 5px;
    color: white;
    border-color: #f3d7c2;
}

ul{
    list-style: none;
}

a{
    outline: none;
    text-decoration: none;
}

a:visited{
    color: black;
}

a:link{
    color: black;
}

/*Elementos Final*/

/*Header Principio*/

.head1{
    position: relative;
    text-align:left;
    top: 50%;
    transform: translateY(-50%);
    right: -10px;
}

.head2{
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.head3{
    text-align: right;
    top: 50%;
    transform: translateY(-50%);
}

#Logo{
    position: relative;
    top: 10px;
    right: 300px;
    width: 6%;
    height: 6%;
}


/*Header Final*/

/*Aside Principio*/

#Letra{
    margin-left: 30px;
    font-style: oblique;
    font-size: 22px;
    font-stretch: ultra-condensed;
    color: #D7C0D3;
}

#Fuentes{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

/*Aside Final*/

/*Main Principio*/

.Box{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    border-width: 5px;
}

.BoxArticulo{
    margin-left: 20px;
    width: 1250px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#SizeBox{
    width: 160px; 
    height: 160px;
    object-fit: cover;
    border-style: groove;
    border-color: #A08A9C;
    border-width: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;  
}

/*Main Final*/

/*Footer Principio*/

.BoxFoot{
    position: relative;
    right: 730px;
    top: 30px;
    font-size: 24px;
}

/*Footer Final*/



