{%extends 'base.html'%}

{%block style%}
"static/Formato_Etiquetador.css"
{%endblock%}

{%block title%}
    {{ super() }}
    Etiquetador
{%endblock%}

{%block body%}


    <main>
    {%for i in range(0,4)%}
    <div>
        {%for j in range(0,4)%}
        {%set idx = i * 4 + j%}
        <div class="Box" data-etiqueta="-1" data-color-index="0">
            <button>
                <img src="static/images/{{imagen}}_{{idx}}.png" alt="{{idx+1}}-16" class="SizeBox1">
            </button>
        </div>
        {%endfor%}
    </div>
    {%endfor%}

    <div class="controls-container">
        <div class="radio-group">
            <label>
                <input type="radio" name="Radio1" value="" id="Si"> Si
            </label>
            <label>
                <input type="radio" name="Radio1" value="" id="TalVez"> Tal vez
            </label>
            <label>
                <input type="radio" name="Radio1" value="" id="No"> No
            </label>
            <label>
                <input type="checkbox" name="Check" value="" id="Check"> Ciclico
            </label>
        </div>
        <div class="button-group">
            <button id="toggleZoom" class="BoxLupa">
                Desactivar Lupa
            </button>
            <button title="¡Completar los 16 recuadros!" id="submitBtn" class="BoxEnviar">
                Enviar
            </button>
        </div>
        <a>Imágenes restantes: {{restantes}}</a>
    </div>

</main>

<div id="zoomModal" class="modal">
<!--span class="close">&times;</span-->
<img class="modal-content" id="zoomedImage">
</div>


<script src="static/Funcion.js"></script>

{%endblock%}
