{%extends 'base.html'%}

{%block style%}
"static/Formato_Etiquetador.css"
{%endblock%}

{%block title%}
    {{ super() }}
    Etiquetador
{%endblock%}

{%block body%}

<main>
    <div class="images-container">
        {%for i in range(0,16)%}
            <div class="Box" data-etiqueta="-1" data-color-index="0">
                <button>
                    <img src="static/images/{{imagen}}_{{i}}.png" alt="{{i+1}}-16" class="SizeBox1">
                </button>
            </div>
        {%endfor%}
    </div>

    <div class="controls-container">
        <form action="{{url_for('enviar_etiquetas')}}" method="POST"> <div class="radio-group">
            <label for="Si">
                <input type="radio" name="Radio1" value="Si" id="Si">
                <span>Si hay basura</span>
            </label>
            <label for="TalVez">
                <input type="radio" name="Radio1" value="TalVez" id="TalVez">
                <span>Tal vez</span>
            </label>
            <label for="No">
                <input type="radio" name="Radio1" value="No" id="No">
                <span>No hay basura</span>
            </label>
            <label for="Ciclico">
                <input type="radio" name="Radio1" value="Ciclico" id="Ciclico">
                <span>Ciclico</span>
            </label>
        </div> </form>
        <div class="button-group">
            <a href="/ia-basurales"><button id="volver" class="BoxEnviar">
                Volver
            </button></a>
            <button id="toggleZoom" class="BoxLupa">
                Desactivar Lupa
            </button>
            <button title="¡Completar los 16 recuadros!" id="submitBtn" class="BoxEnviar">
                Enviar
            </button>
        </div>
        <a>Imágenes restantes: {{restantes}}</a>
    </div>
</main>

<div class="zoom-panel">
    <div id="zoomModal" class="modal">
        <img class="modal-content" id="zoomedImage">
    </div>
</div>

<script src="static/Funcion.js"></script>

{%endblock%}