{%extends 'base.html'%}

{%block style%}
"static/Formato_Sesion.css"
{%endblock%}

{%block title%}
    {{ super() }}
    Sesion
{%endblock%}

{%block body%}

<div class="main-content">
      <div class="welcome-container">
        <h1 class="welcome-title">Login</h1>
        <p class="welcome-text">Introduce tu e-mail.</p>
        <div>
            <form action="{{url_for('respuesta_sesion')}}" method="POST">
                <input name="nombre" type="text" placeholder="Nombre" maxlength="100" required></input>
                <input name="email" type="text" placeholder="E-mail" maxlength="100" required></input>
                <button class="etiquetador-btn" type="submit"> 📬 Ingresar</button>
            </form>
        </div>
        <div class="button-container">
          <a href="/" class="etiquetador-btn">
            <span class="btn-icon">⬅️</span>
            Volver
          </a>
        </div>
      </div>
    </div>

{%endblock%}